.container {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white;
}

.btc-logo {
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
}
